@model IEnumerable<Article>

<h1><b>@ViewBag.CategoryName</b></h1>
<hr>


<table class="table table-hover table-striped">
    <thead class="table-info">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
        <tr>
            <th><a asp-controller="Article" asp-action="Read" asp-route-id="@item.Id">@item.Title</a></th>
            <td>@item.ShortText</td>
            <td><a asp-controller="Article" asp-action="Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">Edit</a></td>
        </tr>
}
    </tbody>
</table>




@if (User.IsInRole("admin"))
{
        <div>
        <a asp-controller="Category" asp-action="AddEdit" asp-route-returnUrl="@Context.Request.Path">Add</a> |
        <a asp-controller="Category" asp-action="AddEdit" asp-route-id="@ViewBag.CategoryId" asp-route-returnUrl="@Context.Request.Path">Edit</a>
        </div>
}
